---
import { getHtmlAttrs, getLocale, getSwitcherData } from 'i18n:astro'

interface Props {
  title: string
}

const { title } = Astro.props

const locale = getLocale()
const data = getSwitcherData()

const switcherLabels: Record<string, string> = {
  en: 'English',
  'zh-TW': '繁體中文',
}

const htmlLangMap: Record<string, string> = {
  'zh-TW': 'zh-Hant-TW',
}

const htmlAttrs = getHtmlAttrs()
htmlAttrs.lang = htmlLangMap[locale] || locale
---

<!doctype html>
<html {...htmlAttrs}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <slot name="head" />
  </head>
  <body>
    <select onchange="location = this.value;">
      {
        data.map(e => (
          <option value={`${e.href.replace(/\/$/, '')}/`} selected={e.locale === locale}>
            {switcherLabels[e.locale]}
          </option>
        ))
      }
    </select>

    <slot />
  </body>
</html>
